[phases.setup]
nixPkgs = ['nodejs_20', 'openssl', 'chromium']

[phases.install]
cmds = [
  'npm install',
  'npx prisma generate'
]

# Variables de entorno para Puppeteer
[phases.setup.nixPkgsEnvironment]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = 'true'
PUPPETEER_EXECUTABLE_PATH = '/nix/store/*/bin/chromium'

[phases.build]
cmds = ['echo "No build needed - using tsx"']

[start]
cmd = 'npm run start:prod'
